# Azure resource group
RESOURCE_GROUP=""
# Leave the following section empty if you are not using an external LFS
# lfs url without https etc. something like: foo.bar.us:8000
LFS_URL=""
# lfs url urlencoded. without https etc. something like: foo.bar.us%3a8000
LFS_URL_ENCODED=""
# set to 1 if you have self signed certificates
LFS_DISABLE_CERT_CHECK=""
# username for lfs
LFS_USERNAME=""
# password for lfs
LFS_PASSWORD=""